* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header #navbarNav .nav-link {
  padding-right: 44px;
  color: #121212;
  font-weight: 600;
  font-size: -20px;
}
header #navbarNav .nav-link:hover {
  color: #aa017e;
}
header .header_black {
  color: #121212;
  padding: 10px;
}
header .header_black:hover {
  color: #aa017e;
}
header .logoPhone {
  padding-top: 8px;
  color: #e2ebfc;
  margin-right: 5px;
}
header .header_white {
  font-size: 15px;
  color: #e2ebfc;
  padding-top: 5px;
}
header .item_1 {
  border: 1px solid #aa017e;
  padding: 8px 8px;
  border-radius: 15px 15px;
  background-color: #aa017e;
}
header .item_1 a {
  text-decoration: none;
}
header .item_1:hover {
  background-color: #ffffff;
  transition: all 300ms ease;
  box-shadow: 0 0 0 1px #b61984 inset;
}
header .item_1:hover i {
  color: #aa017e;
}
header .item_1:hover span {
  color: #aa017e;
}
header .header_img .logo {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  width: 110%;
}
header .picNav {
  position: relative;
  z-index: 5;
}

.bt-bb-content-left {
  margin: auto;
}

.about-us {
  font-size: 20px;
  margin-bottom: 0.5em;
  color: #b61984;
}

.bottom-about-us {
  font-size: 3.8rem;
}

.bt_bb_port {
  z-index: 3;
  position: relative;
}

.bt_bb_cell {
  position: relative;
}

.bt_bb_row_wrapper {
  background-image: url(./../../images/PNG\ FILE/Violet_top_left_wave.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.bt_bb_row {
  max-width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
}

.bt_bb_column {
  padding-left: 20px;
  padding-right: 20px;
}

.bt_bb_column_content {
  background-color: rgb(255, 255, 255);
  padding-left: 2em;
  padding-right: 2em;
}

.find-courses {
  background-image: url(../../images/PNG\ FILE/accent_bottom_wave_01.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding: 50px 0 50px 0;
}
.find-courses .find-courses-item {
  margin: auto;
}
.find-courses .find-course-item-right {
  border: 1px solid #e2ebfc;
  padding: 15px;
  box-shadow: 1px 1px #e2ebfc;
  background-color: rgb(255, 255, 255);
  border-radius: 10px 10px;
}
.find-courses .find-course-item-right p {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
}
.find-courses .input-1,
.find-courses .input-2 {
  padding-bottom: 44px;
}
.find-courses .input-1-name,
.find-courses .input-1-email,
.find-courses .input-3,
.find-courses .input-2-english,
.find-courses .message {
  position: relative;
}
.find-courses .input-name {
  position: relative;
  padding-left: 2.25rem;
  margin-right: 5px;
  border-radius: 10px 10px;
  padding-top: 5px;
  border: 1px solid #ededed;
}
.find-courses .icon-name {
  position: absolute;
  z-index: 2;
  text-align: left;
  top: 10px;
  left: 5px;
  color: #aa017e;
}
.find-courses .icon-mail {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 5px;
  color: #aa017e;
}
.find-courses .input-email {
  position: relative;
  padding-left: 2.25rem;
  margin-left: 5px;
  border-radius: 10px 10px;
  padding-top: 5px;
  border: 1px solid #ededed;
}
.find-courses .icon-english {
  position: absolute;
  z-index: 2;
  top: 10px;
  left: 5px;
  color: #aa017e;
}
.find-courses .input-english {
  padding-right: 100%;
  padding-left: 2.25rem;
  border-radius: 10px 10px;
  padding-top: 5px;
  border: 1px solid #ededed;
}
.find-courses .icon-mes {
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 5px;
  color: #aa017e;
}
.find-courses .mes-input {
  padding-left: 30px;
  border-radius: 10px 10px;
  border: 1px solid #ededed;
}
.find-courses .btn-send {
  padding-top: 50px;
}
.find-courses .send {
  padding: 10px 50px;
  color: #e2ebfc;
  background-color: #aa017e;
  border: 1px solid transparent;
  border-radius: 44px 44px;
}
.find-courses .send:hover {
  color: #aa017e;
  background-color: #e2ebfc;
  border: 1px solid #aa017e;
}

.our-team {
  padding-top: 50px;
  background-color: #dcd1f3;
}
.our-team .our-team-content {
  margin: auto;
}
.our-team .our-team-img img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: 0.2s;
}
.our-team .our-team-img img:hover {
  transition: transform 0.5s;
}
.our-team .our-team-info-item {
  background-color: white;
  padding-bottom: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: 1px solid rgba(236, 236, 236, 0.6823529412);
}
.our-team .our-team-info-item:hover {
  box-shadow: 1px 1px 20px #999;
}
.our-team .info-top {
  margin: auto;
  text-align: center;
  padding-top: 15px;
}
.our-team .info-top h4 {
  font-size: 15px;
  color: #aa017e;
  font-weight: 400;
}
.our-team .info-bottom {
  text-align: center;
  font-size: 15px;
}

footer {
  padding-top: 50px;
  background-image: url(../../images/PNG\ FILE/footer_background.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-bottom: 50px;
}

.footer-title-39 {
  font-size: 30px;
  color: #f5f9fe;
}

.footer-list-39 ul li {
  list-style: none;
}

.footer-list-39 span {
  color: #f5f9fe;
}

.footer-list-39 i {
  color: #f5f9fe;
}

.main-social-footer-39 span {
  margin-right: 20px;
}

.main-social-footer-39 span:hover {
  color: #121212;
}

.footer-list-39 ul li a {
  color: #e2ebfc;
  text-decoration: none;
}
.footer-list-39 ul li a:hover {
  color: #cd69b3;
}

.yourmail {
  padding: 0 70px;
  border-radius: 44px 44px;
  border: 1px solid rgba(237, 237, 237, 0.6156862745);
  background-color: #aa017e;
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 20px;
}

.subcribe {
  padding: 10px 50px;
  background-color: #ffffff;
  border: 1px solid #aa017e;
  border-radius: 44px 44px;
}
.subcribe:hover {
  color: white;
  background-color: #aa017e;
  border-radius: 1px solid #aa017e;
}/*# sourceMappingURL=main.css.map */