header {
  #navbarNav {
    .nav-link {
      padding-right: $fs-8;
      color: $color-dark-1;
      font-weight: $fw-2;
      font-size: $fs-1;
      //   &::after {
      //     content: "";
      //   }
      &:hover {
        color: $color-purple-1;
      }
    }
  }
  .header_black {
    color: $color-dark-1;
    padding: $fs-7;
    &:hover {
      color: $color-purple-1;
    }
  }
  .logoPhone {
    padding-top: 8px;
    color: $color-white-2;
    margin-right: 5px;
  }
  .header_white {
    font-size: $fs-4;
    color: $color-white-2;
    padding-top: 5px;
  }
  .item_1 {
    border: 1px solid $color-purple-1;
    padding: 8px 8px;
    border-radius: $fs-4 $fs-4;
    background-color: $color-purple-1;
    a {
      text-decoration: none;
    }
    &:hover {
      background-color: $color-white-1;
      transition: all 300ms ease;
      box-shadow: 0 0 0 1px #b61984 inset;
    }
    &:hover i {
      color: $color-purple-1;
    }
    &:hover span {
      color: $color-purple-1;
    }
  }
  .header_img {
    .logo {
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      width: 110%;
    }
  }
  .picNav {
    position: relative;
    z-index: 5;
  }
}

.bt-bb-content-left {
  margin: auto;
}

.about-us {
  font-size: 20px;
  margin-bottom: 0.5em;
  color: #b61984;
}

.bottom-about-us {
  font-size: 3.8rem;
}

.bt_bb_port {
  z-index: 3;
  position: relative;
}

.bt_bb_cell {
  position: relative;
}

.bt_bb_row_wrapper {
  background-image: url(./../../images/PNG\ FILE/Violet_top_left_wave.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
}

.bt_bb_row {
  max-width: calc(100% + 40px);
  margin-left: -20px;
  margin-right: -20px;
}

.bt_bb_column {
  padding-left: 20px;
  padding-right: 20px;
}

.bt_bb_column_content {
  background-color: rgba(255, 255, 255, 1);
  padding-left: 2em;
  padding-right: 2em;
}

.find-courses {
  background-image: url(../../images/PNG\ FILE/accent_bottom_wave_01.png);
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  padding: 50px 0 50px 0;
  .find-courses-item {
    margin: auto;
  }

  .find-course-item-right {
    border: 1px solid $color-white-2;
    padding: $fs-4;
    box-shadow: 1px 1px $color-white-2;
    background-color: rgba(255, 255, 255, 1);
    border-radius: $fs-7 $fs-7;
  }

  .find-course-item-right p {
    font-size: $fs-10;
    font-weight: $fw-3;
    text-align: center;
    padding-top: $fs-7;
  }
  .input-1,
  .input-2 {
    padding-bottom: $fs-8;
  }
  .input-1-name,
  .input-1-email,
  .input-3,
  .input-2-english,
  .message {
    position: relative;
  }
  .input-name {
    position: relative;
    padding-left: $fs-6;
    margin-right: 5px;
    border-radius: $fs-7 $fs-7;
    padding-top: $fs-3;
    border: 1px solid #ededed;
  }
  .icon-name {
    position: absolute;
    z-index: 2;
    text-align: left;
    top: $fs-7;
    left: $fs-3;
    color: $color-purple-1;
  }
  .icon-mail {
    position: absolute;
    z-index: 2;
    top: $fs-7;
    left: $fs-3;
    color: $color-purple-1;
  }
  .input-email {
    position: relative;
    padding-left: $fs-6;
    margin-left: 5px;
    border-radius: $fs-7 $fs-7;
    padding-top: $fs-3;
    border: 1px solid #ededed;
  }
  .icon-english {
    position: absolute;
    z-index: 2;
    top: $fs-7;
    left: $fs-3;
    color: $color-purple-1;
  }
  .input-english {
    padding-right: 100%;
    padding-left: $fs-6;
    border-radius: $fs-7 $fs-7;
    padding-top: $fs-3;
    border: 1px solid #ededed;
  }
  .icon-mes {
    position: absolute;
    z-index: 2;
    top: $fs-3;
    left: $fs-3;
    color: $color-purple-1;
  }
  .mes-input {
    padding-left: $fs-10;
    border-radius: $fs-7 $fs-7;
    border: 1px solid #ededed;
  }
  .btn-send {
    padding-top: $fs-9;
  }
  .send {
    padding: $fs-7 $fs-9;
    color: $color-white-2;
    background-color: $color-purple-1;
    border: 1px solid transparent;
    border-radius: $fs-8 $fs-8;
    &:hover {
      color: $color-purple-1;
      background-color: $color-white-2;
      border: 1px solid $color-purple-1;
    }
  }
}
